{
  "presets": [
    [
      "env",
      {
        "targets": {
          "node": "10.3.1"
        }
      }
    ]
  ],
  "plugins": [
    "transform-class-properties",
    "transform-flow-strip-types",
    "transform-object-rest-spread",
    ["transform-react-jsx", { "pragma": "h" }],
    [
      "css-modules-transform",
      {
        "generateScopedName": "web-[local]",
        "extensions": [".css"]
      }
    ],
    "syntax-dynamic-import"
  ]
}
