{
  "parser": "babel-eslint",
  "env": {
    "jest": true,
    "node": true,
    "browser": true
  },
  "plugins": ["babel", "flowtype", "import"],
  "extends": [
    "standard",
    "standard-preact"
  ],
  "rules": {
    "object-curly-spacing": ["error", "always"]
  }
}
