.ml-home {
  padding: 0.5em 0 2em;

  & h2 {
    color: #111;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 400;
    /* text-transform: uppercase; */
    margin: 1em 15px 0.5em;
    line-height: 1;
  }

  & ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  & ol li a {
    display: block;
    padding: 0.25em 15px;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

.ml-home__entry-title {
  font-size: 150%;
  line-height: 1.1;
}
