.ml-down-screen {
  text-align: center;
  color: #444;
  /* background: #eee; */
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
  flex-direction: column;
  box-sizing: border-box;
}

.ml-down-screen__title {
  font-size: 200%;
  margin: 0 0 0.5em;
  line-height: 1;
}

.ml-down-screen__description {
  padding: 0 0 2em;
}

/* .ml-down-screen__button-wrapper {
  padding: 3em 0;

  & a {
    display: inline-block;
    background: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 4px;
  }
} */
